In [0]:
val dept = Seq(
  ("50000.0#0#0#", "#"),
  ("0@1000.0@", "@"),
  ("1$", "$"),
  ("1000.00^Test_string", "^")).toDF("VALUES", "Delimiter")

In [1]:
dept.show

In [2]:
val split_udf = udf((v: String, d: String) => v.split('\\' + d))
dept.withColumn("split_values", split_udf($"VALUES", $"Delimiter")).show(truncate = false)

In [3]:
val input = Seq(
  (1, "MV1"),
  (1, "MV2"),
  (2, "VPV"),
  (2, "Others")).toDF("id", "value")
input.show

In [4]:
val priorities = Seq("MV1", "MV2", "VPV", "Others").zipWithIndex.toDF("name", "prvalue")

In [5]:
val result = input
    .join(priorities)
    .where($"name" === $"value")
    .groupBy("id")
    .agg(min("prvalue"))

In [6]:
result
    .join(priorities)
    .where($"min(prvalue)" === $"prvalue")
    .select("id", "name")
    .show()

In [7]:
val input = Seq(
  ("05:49:56.604899", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604900", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604899", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604900", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604899", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604900", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604899", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604900", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604899", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604900", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604899", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604900", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604899", "10.0.0.2.54880", "10.0.0.3.5001",  2),
  ("05:49:56.604908", "10.0.0.3.5001",  "10.0.0.2.54880", 2),
  ("05:49:56.604908", "10.0.0.3.5001",  "10.0.0.2.54880", 2),
  ("05:49:56.604908", "10.0.0.3.5001",  "10.0.0.2.54880", 2),
  ("05:49:56.604908", "10.0.0.3.5001",  "10.0.0.2.54880", 2),
  ("05:49:56.604908", "10.0.0.3.5001",  "10.0.0.2.54880", 2),
  ("05:49:56.604908", "10.0.0.3.5001",  "10.0.0.2.54880", 2),
  ("05:49:56.604908", "10.0.0.3.5001",  "10.0.0.2.54880", 2)).toDF("column0", "column1", "column2", "label")

In [8]:
val tempdf = input
    .withColumn("digit", lit(1))
    .groupBy("column2")
    .agg(sum("digit"))
    .withColumnRenamed("column2", "alt_column2")
tempdf.show()

In [9]:
input
    .join(tempdf)
    .where($"column2" ===$"alt_column2")
    .select("column0", "column1", "column2", "label", "sum(digit)")
    .withColumnRenamed("sum(digit)", "count")
    .show()

In [10]:
val input = spark.range(50).withColumn("key", $"id" % 5)

In [11]:
input.show

In [12]:
import org.apache.spark.sql.functions.slice

In [13]:
input
    .groupBy("key")
    .agg(collect_set(input("id")))
    .withColumn("only_first_three", slice(col("collect_set(id)"), 1, 3))
    .show()

In [14]:
import spark.implicits._

case class MovieRatings(movieName: String, rating: Double)
case class MovieCritics(name: String, movieRatings: Seq[MovieRatings])
val movies_critics = Seq(
  MovieCritics("Manuel", Seq(MovieRatings("Logan", 1.5), MovieRatings("Zoolander", 3), MovieRatings("John Wick", 2.5))),
  MovieCritics("John", Seq(MovieRatings("Logan", 2), MovieRatings("Zoolander", 3.5), MovieRatings("John Wick", 3))))
val ratings = movies_critics.toDF

In [15]:
ratings.show(truncate = false)

In [16]:
val niceDF = ratings
    .select($"name", explode($"movieRatings"))
    .withColumn("movie", col("col")("movieName"))
    .withColumn("rating", col("col")("rating"))
    .drop("col")
niceDF.show()

In [17]:
val result = niceDF
    .groupBy("name")
    .pivot("movie")
    .sum("rating")
    .show()